<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>URL_Shortener</title>
</head>

<body>
  <div class="container d-flex justify-content-center mt-5">
    <div class="shortener-container d-flex flex-column justify-content-center align-items-center">
      <div class="title mb-2">
        <h3>
          URL_Shortener
        </h3>
      </div>
      <div class="picture d-flex justify-content-center mb-5" id="picture">
        <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
          alt="Picture" class="img-fluid">
      </div>

      {{{body}}}

    </div>
  </div>


  <script src="/javascripts/bootstrap.js"></script>

</body>

</html>