{{#if shortURL}}
<div class="d-flex align-items-center flex-column">
  <div class="result d-flex align-items-center flex-column mb-3">
    <h6>Success! Please use this link:</h6>
    <a href='http://localhost:3000/{{shortURL}}' id="generatedURL"
      target="_blank">http://localhost:3000/{{shortURL}}</a>
  </div>
  <button class="copy mb-3 btn btn-primary" onclick="copyUrl()">Copy</button>
  <a href="http://localhost:3000/"> Try another one </a>

  <script>
    function copyUrl() {
      const URL = document.querySelector("#generatedURL")
      navigator.clipboard.writeText(URL.innerText)
        .then(() => alert('已複製網址內容'))
        .catch(error => console.log(error))
    }
  </script>
</div>

{{else}}
<form class="d-flex flex-column align-items-center" action="/" method="post">
  <div class="form form-floating mb-3">
    <input id="url" name="url" type="url" class="form-control" id="floatingInput" placeholder="">
    <label for="floatingInput">Enter URL</label>
  </div>
  <button type="submit" class="btn btn-outline-primary">Shorten</button>
</form>
{{/if}}